{% extends 'base.html.twig' %}

{% block title %}Boutique
{% endblock %}

{% block body %}

	<h1 class="text-right mt-5" style="color:">Notre catalogue :</h1>

	<section class="row articles">

		{% for chambre in chambres %}

			<article class="col-md-4 text-center mb-3">
				<div class="border">
					<a href="{{ path('show_chambre', {id: chambre.id}) }}" class="btn btn-info">
						<div style="background-color:">
							<h2>{{ chambre.titre }}</h2>
						
							<img src="{{ asset('images/chambres/' ~ chambre.photo ) }}" alt="" class="img-fluid">
						
							<h3>Réserver maintenant</h3>
						
						
							<span class="btn btn-warning">{{ chambre.prixJournalier }} €</span>
						</div>
						{# <div class="d-grid gap-2"></div> #}
					</a>
				</div>
			</article>
		{% endfor %}
	</section>

{% endblock %}
